<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="robot_name" default="blvr_sample_robot"/>
  <arg name="init_pose" default="-x 0.0 -y 0.0 -z 0.0"/>
  <arg name="model" default="$(find blvr_sample_robot_description)/xacro/blvr_sample_robot.xacro"/>

  <param name="robot_description" command="$(find xacro)/xacro --inorder
         '$(arg model)' robot_name:=$(arg robot_name)"/>

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="$(arg init_pose) -urdf -param robot_description -model $(arg robot_name)"/>
</launch>
